*{
	margin:0;
	padding:0;
}

/*                                                                  page-header-top                                                         */
header{
	display: flex;
	flex-direction: column;
}

.page-header-top{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-top:10px;
	padding-bottom: 10px;
	background-color:#2D3137;
	padding-left:20px;
	padding-right:20px;
}

.page-header-top address {
	font-size: 0.92em;
	color: #ffffff;
}
.page-header-top address a {
	line-height: 40px;
	white-space: nowrap;
	color: #fff;
	text-decoration: none;
}

.page-header-top address .phone-number i,
.page-header-top address .email i{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	padding:7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f27c66;
	font-family: FontAwesome;
	color: #fff;
	font-size: 1em;
	line-height: 18px;
	text-align: center;
}

.page-header-top address .phone-number i {
	margin-left: 0;
}

.header-top-panel a {
	color: #ffffff;
	width: 40px;
	text-align: center;
}

.header-top-panel a .fa-twitter{
	background-color:#F27C66;
	padding:10px;
	border-radius:3px;
}

.header-top-panel a .fa-facebook{
	background-color:#F9CB8F;
	padding:10px;
	border-radius:3px;
}

.header-top-panel a .fa-instagram{
	background-color:#4BBCD7;
	padding:10px;
	border-radius:3px;
}

.header-top-panel a .fa-youtube{
	background-color:#B0B0B0;
	padding:10px;
	border-radius:3px;
}

.header-top-panel {
	display:flex;
}

/*                                                                  end page-header-top                                                         */

/*                                                                  sticky-wrapper                                                         */

.sticky-wrapper{
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sticky-menu {
	width: 100%;
	transition: height 0.3s, transform 0.3s;
	background-color:white;
	background-color: rgb(255, 255, 255);
	margin-bottom:20px;
	
}

.sticky-menu a {
	text-decoration: none;
}

.sticky-menu a.active {
	color:#F27C66;
}

.sticky-menu .logo {
	height: 72px;
	display: flex;
	margin: 14px 0;
	float: left;
	width: auto;
	transition: all 0.6s;
	-ms-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
}
.sticky-menu .logo img {
	height: 100%;
	width: auto;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.sticky-menu .logo h1 {
	line-height: 61px;
	display: inline-block;
	vertical-align: middle;
	font-family: "Georgia";
	font-size: 36px;
	clear: none;
	color: #5f5f5f;
	margin: 0;
	transition: all 0.6s;
	-ms-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
}

.main-nav ul {
	margin: 0;
}
.main-nav ul li {
	border-bottom: 0;
	padding: 0;
	list-style: none;
}

.main-nav {
	font-size: 14px;
	font-weight: 500;
}
.main-nav>ul>li {
	float: left;
	line-height: 100px;
	
}
.main-nav ul li a {
	color:#000;
	text-decoration: none;
	padding-left: 20px;
	font-size:20px;

}
@media screen and (max-width: 479px) {
	.sticky-menu .logo h1 {
		line-height: 45px;
		font-size: 22px;
	}
	.sticky-menu .logo {
		height: 50px;
	}
}

/*                                                                 end sticky-wrapper                                                         */

/*                                                                 page title                                                             */
.page-title {
	text-align: center;
	background-color:#2F3238;
}
.page-title h1{
	margin-bottom: 30px;
	margin-top: 60px;
	font-size: 30px;
	font-weight: 400;
	font-family: 'Raleway';
	color: #f27c66;
	background-color: #f0f0f0;
	padding: 0 50px;
	display: inline-block;
	line-height: 55px;
	text-transform: none;
	border-top-left-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.page-title nav {
	text-transform: uppercase;
	color: #f0f0f0;
	padding: 14px 0;
}
.page-title .bread-crumb i{
	padding: 0 10px;
}
.page-title nav a {
	text-transform: capitalize;
	color:#fff;
	text-decoration: none;
	font-size:20px;
	padding:5px;
}

/*                                                                 page end                                                               */

.header-title{
	padding: 20px 0px;
	font-size: 40px;
	font-weight: 800;
	color: #F27C66;
	text-align: center;
}

.columns{
	margin:30px 0px;
	margin-left:2rem;
	margin-right:2rem;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-flow: row;
	gap:5%;
}

.class-box{
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
}

.course-name {
	display: block;
	background-color: #333333;
	padding: 10px;
}
.course-name {
	padding: 10px 24px;
}
.course-name{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	clear: none;
	color: #ffffff;
	margin: 0;
	font-weight: 400;
	font-family: "Raleway";
}

.course-name h3,.price {
	text-decoration: none;
	color: #fff;
}

.course-date {
	padding: 20px 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}
.course-date {
	padding: 20px 24px;
}
.day {
	display: inline-block;
}
.time {
	float: right;
}
.course-date i {
	margin-right: 4px;
}

.divider {
	width: 70px;
	height: 2px;
	clear: both;
	background-color: #ffffff;
	margin: 15px auto;
}

.bg-color-1 {
	background-color: #f27c66 !important;
}

